:root {
  --zgs-background: #eae6e6;
  --zgs-border-color: #121212;
  --zgs-title-color: #191a19;
  --zgs-content-color: #01020e;
  --zgs-padding-top: 1rem;
  --zgs-padding-right: 1rem;
  --zgs-padding-bottom: 1rem;
  --zgs-padding-left: 1rem;
  --zgs-margin-top: 0px;
  --zgs-margin-right: 0px;
  --zgs-margin-bottom: 20px;
  --zgs-margin-left: 0px;
  --zgs-border-radius-top: 10px;
  --zgs-border-radius-right: 10px;
  --zgs-border-radius-bottom: 10px;
  --zgs-border-radius-left: 10px;
  --zgs-title-size: 2rem;
  --zgs-content-size: 18px;
  --zgs-title-text-space: 20px;
}
